<div id="global-audio-player-container" data-turbo-permanent>
    <div class="player-artwork-container">
        <img id="player-artwork" src="" alt="Current Track Artwork" />
    </div>
    <div class="player-info">
        <div id="player-title"></div>
        <div id="player-artist"></div>
    </div>
    <div class="player-controls-container">
        <audio id="global-player"></audio>
    </div>
</div>